<!DOCTYPE html>
<html>
<head>
  <title>Sequential Labels</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body div id='wrapper'>
	<div class='<%= controller.controller_name %>'>
		<%= render 'layouts/header' %>
		<div id='columns'>
		    <div id='side'>
				<ul>
				  <li><%= link_to "Home", store_path %></li> 
				  <li><a href="http://www..../faq">Questions</a></li> 
				  <li><a href="http://www..../news">News</a></li> 
				  <li><a href="http://www..../contact">Contact</a></li>
				</ul>
			</div>
			<div id='main'> 
				<%= yield %>
			</div> 
		</div>
	</div>
</body> 
</html>